<!-- head -->
<%- include('./common/top.ejs') %>

<body id="page-top">
  <!-- 상단 nav -->
  <%- include('./common/nav.ejs') %>
  <!--/ Nav End /-->
  
  <!--/ Font-awesome /-->
  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(img/index.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I S A N G</h1>
          <p class="intro-subtitle"><span class="text-slider-items">ChungAng-univ,Industry Security,Hacking,Forensic,Programming,Governance</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full"> 
                <div style="text-align : center; margin-bottom: 4rem;">
                  <a href="http://security.cau.ac.kr/">
                    <img src="img/introduce(2).jpg" class="img-fluid rounded b-shadow-a" alt="">
                  </a>
                </div>

                <div class="about-me pt-4 pt-md-0">
                  <div style="text-align : center; margin-bottom: 4rem;">
                    <h3 class="title-center">
                      이상(ISANG)
                    </h3>
                    <p class="lead">
                      이상(ISANG) 동아리는 중앙대학교 산업보안학과의 정보보호학술동아리로
                    </p>
                    <p class="lead">

                      정보보호관련 연구와 스터디 프로젝트 활동을 이어나가고 있습니다. <br>
                    </p>
                  </div>

                  <!-- icon
                  <p class="lead">
                    <i class="fa-solid fa-school fa-1xl" style="--fa-animation-duration: 1.9s;"></i> : <a href='http://security.cau.ac.kr/'> 학과 홈페이지</a>
                  </p>
                  <p class="lead">
                    <i class="fa-brands fa-instagram fa-2xl" style="--fa-animation-duration: 2s;"></i> :<a href='https://www.instagram.com/cau_isang/'> 인스타그램 </a>
                  </p>
                  <p class="lead">
                    <i class="fa-brands fa-youtube fa-2xl" style="--fa-animation-duration: 2.1s;"></i> : <a href='https://www.youtube.com/channel/UCH9VgrQMbyKMtH_69jD2I2w/videos'>  유튜브 채널 </a>
                  </p>
                  -->

                  <div style="text-align : center;">
                    <p class="lead">
                      <i class="fa-brands fa-instagram fa-1xl" style="--fa-animation-duration: 2s;"></i> :<a href='https://www.instagram.com/cau_isang/'> instargram </a>
                      &nbsp;&nbsp;
                      <i class="fa-brands fa-youtube fa-1xl" style="--fa-animation-duration: 2s;"></i> : <a href='https://www.youtube.com/channel/UCH9VgrQMbyKMtH_69jD2I2w/videos'>  youtube </a>
                    </p>
                  </div>


                  <!--
                  <div class="title-box-2">
                    <h4 class="title-left pt-4">
                      이상 조직도
                    </h4>
                  </div>
                  <img src="/img/isangorg.jpg" class="img-fluid">
                  -->
                </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <div class="section-counter paralax-mf bg-image" style="background-image: url(img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">85</p>
              <span class="counter-text">회원수</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">15</p>
              <span class="counter-text">Archive</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">2015</p>
              <span class="counter-text">FROM</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">36</p>
              <span class="counter-text">AWARD(2022~)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- JavaScript Libraries -->
<%- include('./common/bottom.ejs') %>
